@use '../base/base' as *;

.calc {
  &__hero {
    color: var(--main-text);
    display: flex;
    justify-content: space-between;
  }

  &__theme {
    display: flex;
    align-items: center;
  }

  &__heading {
    font-size: 0.5rem;
    text-transform: uppercase;
    margin-right: 0.5rem;
    padding-top: 0.25rem;
  }

  &__screen {
    min-height: 5rem;
    margin: 1.5rem 0;
    margin-top: 1rem;
    background-color: var(--screen);
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
  }

  &__display {
    color: var(--main-text);
  }

  &__grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(4rem, auto) repeat(4, 4rem);
    gap: 1rem;

    background-color: var(--secondary-bg);
    padding: 1.5rem;
    padding-top: calc(1.5rem + 3px);
    border-radius: 0.75rem;
  }

  &__span {
    grid-column: span 2;
  }
}

.three {
  color: var(--main-text);
}
